.navbar {
  background: linear-gradient(90deg, #237bec 0%, rgb(24, 94, 245) 100%);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.fa-bars {
  color: black !important;
}

.navbar-logo {
  color: rgb(255, 255, 255);
  position: relative;
  right: 200px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.85rem;
  display: flex;
  align-items: center;
  min-width: 200px;
}
.navbar-logo:hover {
  text-decoration: none;
  font-size: 1.6rem;
  transition: 0.2 ease;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  width: auto;
  justify-content: flex-end;
  margin-right: -1rem;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 25px;
  text-transform: capitalize;
  height: 100%;
}

.nav-links:hover {
  transition: all 0.2s ease-out;
  text-decoration: underline;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.last-section-navbar {
  display: flex;
  position: relative;
  left: 120px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

@media screen and (max-width: 990px) {
  .navbar {
    height: 100px;
  }
  .navbar-logo {
    color: rgb(250, 250, 250);
    position: relative;
    right: 200px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.85rem;
    display: flex;
    align-items: center;
    min-width: 200px;
  }

  .NavbarItems {
    position: relative;
  }

  .navbar-logo:hover {
    text-decoration: none;
    font-size: 1.35rem;
    transition: 0.2 ease;
  }

  .last-section-navbar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: -4px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    justify-content: flex-start;
    align-items: center;
    top: 100px;
    background: #237bec;
    left: 0;
    opacity: 0.92;
    transition: all 0.5s ease;
    z-index: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .nav-links {
    text-align: center;
    padding: 1rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}
